<% show_post_link ||= false %>

<div class="row">
  <div class="well span1 text-center">
      <% if logged_in? %>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: "post", remote: true do %>
          <i class="icon-chevron-up"></i>
        <% end %>
      <% end %>
    <div>
      <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %> votes</span>
    </div>
      <% if logged_in? %>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: "post", remote: true do %>
        <i class="icon-chevron-down"></i>
        <% end %>
      <% end %>
  </div>

  <div class="well span9">
    <p>
      <em>"<%= comment.body %>"</em>
    </p>
    <small class="quiet">
      Posted by: <%= link_to comment.creator.username, user_path(comment.creator) %>
      on <%= format_date_time(comment.created_at) %>
      <% if show_post_link %>
        <span class="pull-right">Related post: <%= link_to comment.post.title, post_path(comment.post) %></span>
      <% end %>
    </small>
  </div>
</div>
