<div class="row">
  <div class="well span0 text-center">
      <% if logged_in? %>
        <%= link_to vote_post_path(post, vote: true), method: "post", remote: true do %>
          <i class="icon-chevron-up"></i>
        <% end %>
      <% end %>
    <div>
      <span id="post_<%= post.id %>_votes"><%= post.total_votes %> votes</span>
    </div>
      <% if logged_in? %>
        <%= link_to vote_post_path(post, vote: false), method: "post", remote: true do %>
        <i class="icon-chevron-down"></i>
        <% end %>
      <% end %>
  </div>
  <div class='well span8'>
    <%= render "/shared/edit_button", post: post %>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p class="quiet"><small>
      Posted by: <%= link_to post.creator.username, user_path(post.creator) %>
      on <%= format_date_time(post.created_at) %>
    </small></p>
    <small><%= link_to "#{post.comments.size} Comments", post_path(post) %></small>
  </div>
</div>
