<div class="row">
  <div class='well span8'>
    <%= render "/shared/edit_button", post: post %>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p class="quiet"><small>
      Posted by: <%= link_to post.creator.username, user_path(post.creator) %>
      on <%= format_date_time(post.created_at) %>
    </small></p>
    <small><%= link_to "#{post.comments.size} Comments", post_path(post) %></small>
  </div>
</div>
