<%= render "/shared/content_title", title: "All Posts" %>

<% @posts.each do |post| %>
  <div class='row'>
    <div class='span8 well'>
      <%= render post.categories %>
      <h4 class><%= link_to post.title, post.url %></h4>
      <p><%= post.description %></p>
      <p class='quiet'>
        <small><span>Posted by: <%= post.creator.username %> at <%= post.created_at %></small>
      </p>
      <small><%= link_to "#{post.comments.size} Comments", post_path(post) %></small>
    </div>
  </div>
<% end %>
